.popularity-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed */
    border: 1px solid #ddd; /* Add border for outline effect */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    color: white; /* Set text color to white */
  }
  
  .button {
    background-color: #1db954; /* Spotify green */
    color: white; /* Text color */
    padding: 10px; /* Padding */
    margin-top: 10px; /* Margin */
    border: none; /* Remove default border */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
  }
  .title {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
  }
  .note {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }